@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* ========= global css start ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* ========= global css end ========== */
/* ========= body css start ========= */
body {
  display: flex;
  justify-content: center;
  color: white;
  background-color: #f5f5f5;
  margin: 20px 0px;
}
/* ========= body css end ========= */

.wrapper {
  background-color: #fff;
  padding: 15px;
  max-width: 1140px;
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.wrapper .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "header header header"
    "sidebar main-contant main-contant"
    "footer footer footer";
  min-height: 100vh;
}

.container .item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-size: 28px;
  font-weight: 600;
  border: 5px;
}

.container .header {
  background-color: violet;
  grid-area: header;
  border-radius: 5px;
}

.container .sidebar {
  background-color: yellowgreen;
  grid-area: sidebar;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.container .main-contant {
  background-color: rebeccapurple;
  grid-area: main-contant;
  margin: 10px 0px;
  border-radius: 5px;
}

.container .footer {
  background-color: royalblue;
  grid-area: footer;
  border-radius: 5px;
}
